body{
  background-color: #EAF6F6;
  text-align: center;
  margin: 0;
}
h1{
  margin-top: 30px;
  color: #66BFBF;
  font-size: 300%;
}
h2{
  color: #66BFBF;
  font-size: 200%;
}
.Upper_container{
  background-color: #CCF3EE;
  margin: 0;
}
.upper_cloud{
  height: 130px;
  width: 200px;
  margin-left: 650px;
  margin-top: 5px;
}
.middle_container{
  padding: 20px;
}
.bottom_cloud{
  height: 130px;
  width: 200px;
  margin:0 700px 0 0;
}
.mountain{
  height: 300px;
  width: 500px;
}
.profileimg{
  height: 200px;
  width: 200px;
}
.random{
  line-height: 2;
  font-size: 110%;
  margin-bottom: 80px;
}
hr{
  border-style: none;
 border-top-style: dotted;
 width: 5%;
 border-width: 7px;
 border-color: grey;
 margin: 50px auto 50px auto;
}
.skills{
  margin-top: 50px;
}
.skillsimg{
  width: 20%;
  float: left;
  margin-right: 10px;
}
.my-skills{
  width: 50%;
  margin: 100px auto 100px auto;
}
h3{
  color: #66BFBF;
  font-size: 110%;
}
.skillsimg2{
  width: 20%;
  float: right;
  margin-left: 10px;
}
.contact{
  width: 50%;
  margin: 100px auto 100px auto;
}
p{
  margin: auto auto auto auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom_container{
  background-color: #66BFBF;
  padding: 40px 0 30px;
}
a{
  color: #11999e;
  margin: 0 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  margin-top: 20px;
}
